<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitchBot.Properties.Settings>
            <setting name="clientid" serializeAs="String">
                <value />
            </setting>
            <setting name="clientsecret" serializeAs="String">
                <value />
            </setting>
            <setting name="APINinjaKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OBSWebSocketAuth" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchClientReftreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectBotOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OBSWebcamSceneID" serializeAs="String">
                <value />
            </setting>
            <setting name="OBSReactiveImageSceneID" serializeAs="String">
                <value />
            </setting>
            <setting name="OBSServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="OBSServerPort" serializeAs="String">
                <value />
            </setting>
        </TwitchBot.Properties.Settings>
    </userSettings>
</configuration>