<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitchBot.Properties.Settings>
            <setting name="clientid" serializeAs="String">
                <value>b35io4wr1yt2k6n9frnfllkraeymo5</value>
            </setting>
            <setting name="clientsecret" serializeAs="String">
                <value>9xxjmh1pbnl0vzvwdsx8seh8ja8huc</value>
            </setting>
            <setting name="APINinjaKey" serializeAs="String">
                <value>CH6huP8qYlSvHeOhvB9vcQ==bCNTg08FarvFkV9I</value>
            </setting>
            <setting name="OBSWebSocketAuth" serializeAs="String">
                <value>B8HxqfVm10b9oc6a</value>
            </setting>
        </TwitchBot.Properties.Settings>
    </userSettings>
</configuration>